parameters:


application:
	errorPresenter: Error
	mapping:
		*: [App, Modules\*, Presenters\*Presenter]


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
	translation: Contributte\Translation\DI\TranslationExtension		

translation:
	locales:
		whitelist: [en, cs, sk]
		default: en
		fallback: [en]
	dirs:
		- %appDir%/lang
	returnOriginalMessage: true # to not translate undefined messages, default is true		
	loaders:
		nettedatabase: Contributte\Translation\Loaders\NetteDatabase(Nette\Database\Connection(@database.second))
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Router